<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sqassist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SQassist">
        <activity
            android:name=".ResetPass"
            android:exported="false" />
        <activity
            android:name=".Setting"
            android:exported="false" />
        <activity
            android:name=".NavFragment"
            android:exported="false"
            android:label="@string/title_activity_nav_fragment" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".SignUp" />
        <activity android:name=".Login" />
        <activity android:name=".HomeFragment" />
    </application>

</manifest>